.header{
    width : 100vw;
    height : 9vh;
    background-color: rgba(255, 201, 119, 1);
    display : flex;
    justify-content: space-between;
    position : fixed;
    top : 0px;
    left : 0px;
    z-index : 1;
}

.left{
    height : 100%;
    width : 23.2vw;
    display : flex;
    justify-content: space-evenly;
    align-items: center;
}

.logo{
    width : 3.8vw;
    height : 3.8vw;
}

.logoImg{
    width : 3.8vw;
    height : 3.8vw;
}

.app_name{
    position : relative;
    top : -3%;
    height : 59%;
    width : 15vw;
    display : flex;
    align-items: center;
    font-weight: 700;
    font-size : 1.7vw;
    font-family: 'Jost', sans-serif;
    font-style: normal;
    color : white;
}

.right{
    width : 29.7vw;
    height : 100%;
    display : flex;
    align-items: flex-end;
    justify-content: space-evenly;
    margin-right : 1vw;
}

.button{
    display : flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 1vw;
    border-top-right-radius: 1vw;
    height : 89%;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size : 1.1vw;
    color : white;
    cursor : pointer;
}

.selected{
    background-color: white;
    color : #FFC977;
}

.intro{
    width : 8vw;
}

.costmer_apply{
    width : 9vw;
}

.brand_apply{
    width : 10vw;
}