.main{
    width : 100vw;
    height : 160vh;
    overflow : hidden;
}

.first{
    width : 91vw;
    height : calc(100vh - 30px);
    display : flex;
    justify-content: center;
    align-items: center;
    margin : 0 auto;
    border-bottom : solid 3px #A4A4A4;
}

.mid{
    position : relative;
    top : -6vh;
    width : 85vw;
    height : 35vh;
    display : flex;
    flex-wrap : wrap;
    justify-content: center;
}

.imgWrap{
    width : 24vw;
    height : 24vw;
    margin-bottom : 1vh;
    position: relative;
    left : 1vw;
}

.img{
    width : 24vw;
    height : 24vw;
}

.message{
    color : black;
    width : 100%;
    height : 15vh;
    font-weight: bolder;
    font-family: 'Inter', sans-serif;
    font-size : 7vw;
    display : flex;
    justify-content: center;
    flex-wrap: wrap;
    margin : 0px;
}

.line{
    margin : 0px;
}

.app_name{
    width : fit-content;
    height : fit-content;
    color : #FF9A00;
}

.buttonWrap{
    width : 100vw;
    height : 10vh;
    margin-top : 6vh;
    display : flex;
    justify-content: space-between;
}

.button{
    
    width : 40vw;
    height : 100%;
    border-radius: 15px;
    display : flex;
    align-items: center;
    justify-content: center;
}

.costmer_apply{
    background-color: #FF9A00;
    color : white;
    font-weight: bold;
    cursor: pointer;
}

.brand_apply{
    border: solid 1px #A8A8A8;
    font-weight: bold;
    cursor: pointer;
    color : black;
}

.second{
    width : 100vw;
    height : 60vh;
}

.overview{
    width : 100vw;
    height : 30vh;
}